@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

h1, p {
	color: #fff;
	text-align: center;
}

h1 {
	margin-top: 4rem;
}

p {
	line-height: 3rem;
}

.container {
	background-color: #eee;
	width: 700px;
	height: 700px;
	border-radius: 20px;
	margin: auto;
	padding: 2rem;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.2rem;
	perspective: 1000px;
}

i {
	color: #000;
	background-color: #fff;
	text-align: center;
	padding: 22% 0;
}

.card {
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
	cursor: pointer;
}

.card.flip {
	transform: rotateY(180deg);
}

.back, .front {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 20%;
	backface-visibility: hidden;
}

.front {
	transform: rotateY(180deg);
}

.back {
	background: linear-gradient(135deg, #0072ff, #ff0058)
}

.correct {
	visibility: hidden;
}

/* Icons colors */

.fa-anchor {
	color: darkblue;
}

.fa-canadian-maple-leaf {
	color: darkgreen;
}

.fa-bus {
	color: darkgoldenrod;
}

.fa-bell {
	color: darkcyan;
}

.fa-bomb {
	color: darkred;
}

.fa-angellist {
	color: darkmagenta;
}

.fa-atom {
	color: darkolivegreen;
}